@font-face {
  font-family: sourceCodePro-regular;
  src: url("Source_Code_Pro/static/SourceCodePro-Regular.ttf");
}

html, body {
  height: 100%;
  /*margin: 0;
  display: flex;
  flex-direction: column;*/
}

.navbar {
  background-color: #f7f3ec !important;
 padding-top: 1rem;
  padding-bottom: 1rem;
}

p{
  font-size: 17px;
}

.mano{
  color: #eeba2b;
  /*font-family: monospace;*/
  font-family: sourceCodePro-regular;
  font-size: 18px;
}

.footer {
  background-color: #f7f3ec !important;
}

.typewriter h1 {
  color: #eeba2b;
  /*font-family: monospace;*/
  font-family: sourceCodePro-regular;
  font-size: 70px;
  overflow: hidden;
  border-right: 0.10em solid #eeba2b;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: 
    typing 1.5s steps(20, end),
    blink-caret 1s step-end infinite;
  margin: 0;
}

.hero-section {
  padding-top: 100px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.typewriter {
  display: inline-block;
}


.hp-subtitle {
  font-size: 1.9rem;
  /*font-family: monospace;*/
  font-family: sourceCodePro-regular;
  color: #eeba2b;
  margin-top: 0.25rem;
}

.offcanvas-title{
  font-size: 3rem;
  /*font-family: monospace;*/
  font-family: sourceCodePro-regular;
  color: #eeba2b;
}



@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #eeba2b }
}



/*a {
  color: #eeba2b;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover,
a:focus {
  color: #c7991f;
  text-decoration: underline;
}*/


/*.container-page{
    margin-top: 150px;
    flex: 1;
}*/

.page-title{
  font-size: 50px;
  color: #eeba2b;
  text-align: center;
  /*font-family: monospace;*/
  font-family: sourceCodePro-regular;
}

.page-subtitle{
  font-size: 30px;
  color: #eeba2b;
  text-align: center;
  /*font-family: monospace;*/
  font-family: sourceCodePro-regular;
  margin-bottom: 20px;
}

.team-name{
  text-align: center;
  margin-top:15px;
  color: #eeba2b;
  /*font-family: monospace;*/
  font-family: sourceCodePro-regular;
  font-size: 25px;
}

input.is-invalid {
  border: 2px solid red !important;
}


section h3 {
  color: #eeba2b;
  text-align: center;
  /*font-family: monospace;*/
  font-family: sourceCodePro-regular;
}

section h2 {
  color: #eeba2b;
  /*font-family: monospace;*/
  font-family: sourceCodePro-regular;
  font-size: 50px;
}

.required-star {
  color: red;
}


.manuscript-footer button {
  white-space: nowrap;        /* keep icon + text together */
}


.toast {
  background-color: #fff !important;
  opacity: 1 !important;       /* disables Bootstrap’s transparency */
  border-radius: 0.75rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

.toast-header {
  background-color: #f7f3ec !important; 
  color: #000 !important;
  border-bottom: none;
}

.toast-body {
  background-color: #fff !important;
  color: #000 !important;
}
.toast-header strong{
  color:#eeba2b;
  /*font-family: monospace;*/
  font-family: sourceCodePro-regular;
}



/* --- MANO Download Modals  --- */

/* Modal headers */
#xmlDownloadSuccessModal .modal-header,
#jsonDownloadSuccessModal .modal-header {
  background-color: #f7f3ec !important;
  border-bottom: none;
  /*font-family: monospace;*/
  font-family: sourceCodePro-regular;
}

/* Title text inside header */
#xmlDownloadSuccessModal .modal-header .modal-title,
#jsonDownloadSuccessModal .modal-header .modal-title {
  color: #eeba2b;
  /*font-family: monospace;*/
  font-family: sourceCodePro-regular;
  font-weight: 600;
}




@media (max-width: 576px) {
  .typewriter h1 {
  font-size: 40px;
  }

  .hp-subtitle {
    font-size: 1.1rem;
  }

.container-page{
  padding-left:0px;
  padding-right:0px;
}
  .manuscript-container{
    padding: 8px!important;
  }
  .accordion-body {
    padding:0px;
  }
  .accordion-body h6 {
    padding-left:8px;
  }
  .back-btn{
    display: none;
  }
}



.lod-dropdown {
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-size: 14px;
}
.lod-item:hover {
  background: #e9ecef;
}


#metadataTable td:first-child,
#metadataTable th:first-child {
  width: 300px;           
  max-width: 300px;
  white-space: normal;     
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#metadataTable td:nth-child(2),
#metadataTable td:nth-child(3) {
   width: 300px;           
  max-width: 300px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}


.CodeMirror {
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 11px;
}
